<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="show_sql">true</property>
		<property name="connection.username">tester</property>
		<property name="connection.password">tester</property>
		<mapping class="Hibernate.Entities.AnnouncementEntity"/>
		<mapping class="Hibernate.Entities.ClazzEntity"/>
		<mapping class="Hibernate.Entities.CourseEntity"/>
		<mapping class="Hibernate.Entities.DriverEntity"/>
		<mapping class="Hibernate.Entities.EmployeeEntity"/>
		<mapping class="Hibernate.Entities.HaveScheduleEntity"/>
		<mapping class="Hibernate.Entities.HeadOfDepartmentEntity"/>
		<mapping class="Hibernate.Entities.HomeworkEntity"/>
		<mapping class="Hibernate.Entities.ListOfAbsentDatesEntity"/>
		<mapping class="Hibernate.Entities.ListOfHwQuestionsEntity"/>
		<mapping class="Hibernate.Entities.LunchEntity"/>
		<mapping class="Hibernate.Entities.LunchMenuEntity"/>
		<mapping class="Hibernate.Entities.ParentEntity"/>
		<mapping class="Hibernate.Entities.ScheduleEntity"/>
		<mapping class="Hibernate.Entities.ScheduleConsistsOfEntity"/>
		<mapping class="Hibernate.Entities.SchoolEntity"/>
		<mapping class="Hibernate.Entities.SchoolBusEntity"/>
		<mapping class="Hibernate.Entities.SchoolBusStopsEntity"/>
		<mapping class="Hibernate.Entities.StopEntity"/>
		<mapping class="Hibernate.Entities.StudentEntity"/>
		<mapping class="Hibernate.Entities.SurveyEntity"/>
		<mapping class="Hibernate.Entities.SurveyQuestionEntity"/>
		<mapping class="Hibernate.Entities.SyllabusEntity"/>
		<mapping class="Hibernate.Entities.SyllabusExamDateEntity"/>
		<mapping class="Hibernate.Entities.SyllabusSubjectListEntity"/>
		<mapping class="Hibernate.Entities.TeacherEntity"/>
		<mapping class="Hibernate.Entities.TeachingStaffEntity"/>
	</session-factory>
</hibernate-configuration>