<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="show_sql">true</property>
		<property name="connection.username">tester</property>
		<property name="connection.password">tester</property>
		<mapping class="Entities.AnnouncementEntity"/>
		<mapping class="Entities.ClazzEntity"/>
		<mapping class="Entities.CourseEntity"/>
		<mapping class="Entities.DriverEntity"/>
		<mapping class="Entities.EmployeeEntity"/>
		<mapping class="Entities.HaveScheduleEntity"/>
		<mapping class="Entities.HeadOfDepartmentEntity"/>
		<mapping class="Entities.HomeworkEntity"/>
		<mapping class="Entities.ListOfAbsentDatesEntity"/>
		<mapping class="Entities.ListOfHwQuestionsEntity"/>
		<mapping class="Entities.LunchEntity"/>
		<mapping class="Entities.LunchMenuEntity"/>
		<mapping class="Entities.ParentEntity"/>
		<mapping class="Entities.ScheduleEntity"/>
		<mapping class="Entities.ScheduleConsistsOfEntity"/>
		<mapping class="Entities.SchoolEntity"/>
		<mapping class="Entities.SchoolBusEntity"/>
		<mapping class="Entities.SchoolBusStopsEntity"/>
		<mapping class="Entities.StopEntity"/>
		<mapping class="Entities.StudentEntity"/>
		<mapping class="Entities.SurveyEntity"/>
		<mapping class="Entities.SurveyQuestionEntity"/>
		<mapping class="Entities.SyllabusEntity"/>
		<mapping class="Entities.SyllabusExamDateEntity"/>
		<mapping class="Entities.SyllabusSubjectListEntity"/>
		<mapping class="Entities.TeacherEntity"/>
		<mapping class="Entities.TeachingStaffEntity"/>
	</session-factory>
</hibernate-configuration>